/* KeyBind.css */

.full-page-container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #eaeaea; /* Major color for background */
  color: #000000; /* Text color */
  display: flex;
  justify-content: center;
  padding-top: 5%; /* Adjust spacing from the top */
}

.custom-table {
  height: fit-content;
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.custom-table th,
.custom-table td {
  padding: 12px; /* Increase padding for better spacing */
  border: 1px solid #000000; /* Border color */
  color: #000000; /* Text color */
}

.custom-table th {
  background-color: #333333; /* Header background color */
  font-weight: bold; /* Make header text bold */
  color: #ffffff; /* Header text color */
}

.custom-table th,
.custom-table td {
  text-align: left;
  color: #ffffff; /* Header text color */
}

.custom-table tbody tr:nth-child(even) {
  background-color: #3d3d3d; /* Alternate row background color */
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #333333; /* Alternate row background color */
}

.custom-table tbody tr:hover {
  background-color: #555555; /* Hover row background color */
}
